/* styles/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #111;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .h1{
    font-family:'Courier New', Courier, monospace;
  }